.navbar-toggler[b-69rflur3ak] {
    background-color: rgba(255, 255, 255, 0.1);
    /*background-color: 	#FF8700;*/
}

.top-row[b-69rflur3ak] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    /*background-color: orange;*/
}

.navbar-brand[b-69rflur3ak] {
    font-size: 2.3rem;
  
}

.oi[b-69rflur3ak] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    color: white;
}


.nav-item[b-69rflur3ak] {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 0.5rem;
  
}

    .nav-item:first-of-type[b-69rflur3ak] {
        padding-top: 1rem;
       
    }

    .nav-item:last-of-type[b-69rflur3ak] {
        padding-bottom: 1rem;
       
    }

    .nav-item[b-69rflur3ak], a[b-69rflur3ak] {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-69rflur3ak]  a.active {
    background-color:	#FF5700;
    color: white;
   
}

.nav-item[b-69rflur3ak]  a:hover {
    background-color: 	#FF5700;
    color: white;
    
}

.logo[b-69rflur3ak]{
    width:50px;
    height:50px;
    
}

@media (min-width: 641px) {
    .navbar-toggler[b-69rflur3ak] {
        display: none;
    }

    .collapse[b-69rflur3ak] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-69rflur3ak] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
